set number

"Remap leader
let mapleader = "," "map leader to coma

"remap to jj to esc and to get into normal mode in terminal
imap jj <Esc>
tnoremap jj <C-\><C-n>

"copy, paste, select all and delete current line
map <C-c> "+y
map <C-v> "+p
nnoremap <C-a> ggVG
nnoremap X Vx
nnoremap Y Vy

nnoremap <leader>l :ls<cr>
nnoremap <leader>n :bn<cr>
nnoremap <leader>p :bp<cr>
nnoremap <leader>d :bd<cr>

"save and quit
nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<CR>

"Move texts around
nnoremap <leader>j :m .+1<CR>==
nnoremap <leader>k :m .-2<CR>==

set rnu 		 " Set relative number
set linebreak    " Sends entire word to next line rather than a single letter(WordWrap)
set hidden      " Keeps files open in the background.
set noerrorbells " Turns off bell sound
set scrolloff=8 " Doesn't allow cursor to go all the way to the last line